
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    background-color: #ffffff;
    width: 870px;
    margin-top: 21px;
    border-radius: 5px;

  
}
hr{
width: 807px;
height: 1px;
background: #D1D1D1;
margin-bottom: 30px;


}

/* nav section */
.nav-section{
    width: 100%;
    background-color: #562EFF;
}
.nav-contain{
    width: 870px;
    margin: 0 auto; 
    display: flex;
  
    
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    align-items: center;
   
    

}
.logo{
    margin: 30px;
}
.title{
color: #FFF;
font-size: 24px;
font-weight: 500;

}
.logo img{
    width: 40.424px;
    height: 51px;
}

.nav-list{
  
    
}
.nav-list ul a{

    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    
}
.nav-list ul{
    display: flex;
    /* align-items: center; */
    list-style: none;
    

}
.nav-list li{
    margin-left: 50px;
    align-items: center;
    text-align: center;
    
}
.profile{
    padding-left: 100px;
}


/* top palyers and top vlogs section */
.top-players{
    padding: 20px 30px;
    
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 30px;
}
.player img{
    width: 56px;
    height: 56px;

}
.player{
    display: flex;
    align-items: center;
    
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 20px;
   

}
.player-name{
    padding: 0px 15px;
    font-size: 18px;
}
/* Top Blog section */
.top-blogs{
    margin-left: 20px;
    margin: 30px;
    
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 30px;
    grid-row-gap: 26px;
}
.blog{
    display: flex;
   
}


.blog .thumbnall img{

    width: 224px;
    height: 127px;

}
.blog-info{
    margin-left: 15px;
}

.blog-title{
    font-size: 20px;
    width: 165px;
    height: 50px;
    
}
.blog-author a{
    color: #562EFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;


}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;

}
/* Course Section */

.courses-contain{
   
    margin-bottom: 20px;
    margin-left: 30px;
 
   
  
}
.courses-contain  .course{
    width: 260px;
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
    
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
}
.course-banner img{
    width: 260px;
    height: 135px;

}
.course-info{
    display: flex;
    gap:20px;
    align-items: center;
    
}
.course-info span{
    color: #A2A2A2;
    font-size: 14.691px;
    font-style: normal;
    font-weight: 400;
}
 
.course-detail .course-title{
    font-size:  20px;
    width: 250px; 
    padding: 0px 10px; 
}
 /* I havw one problem my browser give auto margin top and button  */
.course-author{
    font-size: 15px;
    font-weight: 400;
    color: #ED6B4F;
    padding: 0px 10px; 

}


.fa-star.filled{
 
    color: #FFC014;

}
.fa-star.emti{

    color: #858072;

}
s
.fa-clock{
    width: 20.034px;
    height: 20.034px;
}


.course-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    color:#FF4A60;
    font-size: 14px;
    font-weight: 600px;
    padding: 4px 6px;


}




